[user]
  email = tmck01@gmail.com
  name = Tom McKeesick

[push]
  default = current                   # Never have to set upstream when pushing a new branch
  autoSetupRemote = true

[pull]
  rebase = false

[alias]
  ap = add --patch                    # add to/stage commits chunk by chunk
  pp = !git pull --rebase && git push # push and rebase
  co = checkout                       # checkout
  d = diff                            # diff unstaged changes
  s = status                          # status

  b = branch -v                       # branch (verbose)
  cp = cherry-pick -x                 # cherry-pick/grab a change from a branch
  dl = diff HEAD^                     # diff last committed change
  pl = pull                           # pull
  ps = push                           # push

  uncommit = reset --soft HEAD^       # go back before last commit, with files in uncommitted state
  mt = mergetool                      # fire up the merge tool

  l = log --graph --date=short

  # Longer commands -----------------------------

  prg = !git fetch origin --prune && git branch --merged | grep -v master | xargs git branch -d
  mrg = !git checkout master && git pull && git checkout - && git merge master

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold

[color "branch"]
  remote = yellow
[core]
	editor = vim
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
